.container{
display: flex;
/* flex-direction: column; */
justify-content: center;
height: 100vh;
box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);
.side{
  margin-top: 2rem;
}
}
@media only screen and (max-width: 767px) {
    .container{
        flex-direction: column;
    }
   .side{
    flex-direction: column;
   } 
}
.dock {
  display: flex;
  justify-content: center;
  pointer-events: auto;
  /* border: 2px solid #ffffff1c; */
  padding: 0.4em;
  border-radius: 20px;
  transition:
    opacity 0.2s ease-out,
    transform 0.2s ease-out;
}
.dock-item {
  background-color: #060606;
  margin: 5px;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #ffffff1c;
  display: flex;
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s ease-out,
    background-color 0.3s ease-out; 
    will-change: transform;
  cursor: pointer;
  pointer-events: auto;
}

.dock-item:hover {
  z-index: 2;
  background-color: #111;
  transform: scale(1.1);
  transition: background-color 0.3s ease,
  transform 0.3s ease,
  box-shadow 0.3s ease;
}

.dock-container.right {
  top: 0;
  right: 1em;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.dock-container.left {
    top: 0;
    left: 1em;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
.dock-container.top {
  top: 1em;
  left: 0;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.dock-container.bottom {
  bottom: 1em;
  left: 0;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
