
.head{
    display: flex;
    align-items: center;
    /* padding: 10px; */
    /* border: 2px solid red; */
}

.head img{
    margin-top: 44px;
    filter: invert();
    height: 30px;
    /* width: auto; */
    /* border: 2px solid yellow; */
    padding: 10px;
    border-radius: 0;

}
.edu{
    display: flex;
    /* border: 2px solid yellow */
} 
.subheading{
    /* display: flex; */
    margin: auto;
    width: 70%;
}
.redirectionicon{
    margin-top: 5px;
    filter: invert();
    height: 20px;
}
.resumemain{
    margin-top: 0px;
    display: flex;
    justify-content:space-between;
    /* border: 2px solid blue; */

}
.education{
    
    /* border: 2px solid green; */
    /* display: flex; */
    margin: auto;
    margin-top: 20px;

}
h4{
    color: blanchedalmond;
}
.projectsection{
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center; 
    padding: 10px;
}
.projectsectionimg{
  height: 600px;
  /* opacity: 0; */
}

  
@media only screen and (max-width: 767px) {
    .resumemain{
        flex-direction: column;
        width: 100%;
    }
    .skills-section{
        width: 80%;
    }
    .projectetxt{
        /* border: 2px solid blue; */
        margin: -10px 0px 0px -80px;
    }
    .projectsection{
        flex-direction: column;
    }
   
}