ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
a{
text-decoration: none;
color: white;
}
.nameSection{
  display: flex; 
  justify-content: center;
align-items: center;

}
.name{
  margin-left: 10%;
  font-size: 150px;
  color: yellow; 
  /* border: 2px solid yellow; */
}
.nameSection p{
margin-top: 11%;
/* margin-left: -0.5%; */
/* border: 2px solid green; */
}
.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

